body {
  width: 100%;
  font-size: 14px;
  background-color: white;
  font-family: Arial;
  color: black;
  line-height: 1;
  margin: 0px;
}
.imenu {
  width: 100%;
  float: left;
  position: relative;
  background-color: black;
  position: fixed;
  height: 70px;
  z-index: 99;
}
.mblock1 {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 1000px;
}
.mblock2 {
  width: 100%;
  display: inline-block;
  padding-left: 13px;
  padding-right: 13px;
  min-height: 1px;
}
.mblock2__mul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mblock2__mli {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  line-height: 68px;
  vertical-align: baseline;
  box-sizing: border-box;
}
.mblock2__ma {
    color: #fff;
    text-decoration: blink;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
}
.mblock2__ma:hover {
    color: #EB5C4C;
}
.parallax-mirror {
  visibility: visible;
  z-index: -100;
  position: fixed;
  top: 69px;
  left: 0px;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  height: 100%;
  width: 100%;
}
.parallax-slider {
  transform: translate3d(0px, 0px, 0px);
  top: -48.3px;
  left: -165px;
  height: 100%;
  width: 100%;
  max-width: none;
}
.wrapper {
  float: left;
  width: 100%;
}
.wblock1 {
    float: left;
    width: 100%;
}
.wblock2 {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1000px;
}
.wblock3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.w3left {
    margin-right: 0;
    position: relative;
    width: 66%;
}
.wdelivery {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
.w3left__img {
    margin: 15px 0 0 20px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.label {
    background-image: url(../img/bg-label.png);
    width: 125px;
    height: 130px;
    position: absolute;
    bottom: 30px;
    right: 0;
}
.icons {
    background-image: url(../img/icon.png);
    height: 70px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: 28px 30px;
    overflow: hidden;
}
#slide-1 {
    padding: 50px 0 30px;
    margin-top: 69px;
}
.oldprice {
    height: 60px;
    position: absolute;
    right: 10px;
    top: 160px;
    white-space: nowrap;
    background-color: rgba(255,255,255,0.7);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}
.hitsale {
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-top: 3px;
    width: 148px;
    white-space: pre-line;
    padding: 11px;
}
.price1 {
    float: left;
    font-size: 19px;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
    padding: 10px 12px 10px 25px;
    background-image: url(../img/price.png);
    height: 61px;
    background-repeat: no-repeat;
    text-decoration: line-through;
}
.newprice {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 9px;
}
.w3right {
    width: 33%;
}
.w3phone {
    background-color: rgba(255,255,255,0.79);
    padding: 13px 25px 20px;
    border-radius: 3px;
    margin-bottom: 25px;
    float: left;
    width: 100%;
}
.w3call {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
}
.w3call__w3span {
    vertical-align: super;
    font-size: 10px;
}
.w3numb {
    font-size: 27px;
    font-weight: 700;
    float: left;
    width: 100%;
    text-align: center;
}
.w3form {
    background-color: rgba(255,255,255,0.7);
    padding: 25px;
    border-radius: 3px;
    width: 100%;
    margin-top: 111px;
}
.w3slogan {
    border-radius: 3px;
    background-color: #192c35;
    color: #fff;
    padding: 25px 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 25px;
}
.w3post {
    background-color: rgba(255,255,255,0.7);
    padding: 25px;
    border-radius: 3px;

}
.w3post__w3input {
    outline: none;
    font-family: Clear Sans, Calibri, Arial, sans-serif;
    width: 92.5%;
    border: none;
    height: 60px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    line-height: 60px;
    color: #2c353a;
}
.w3logo {
    height: 32px;
    background-repeat: no-repeat;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}



#slide-1 .left h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}
#slide-1 .left h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
}

button {
    outline: none;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ff2020;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 0 4px 10px rgba(44,53,58,0.32);
    line-height: 58px;
    cursor: pointer;
    vertical-align: bottom;
    width: 100%;
}

#gap_1 {
    border-top: 10px solid #192c35;
    border-bottom: 10px solid #192c35;
    padding: 5px 0;
    position: relative;
    float: left;
    width: 100%;
    background-color: white;
}
.wblock5 {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1000px;
}
.wblock6 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.w6col {
    width: 33%;
}
.w6label {
    padding: 20px;
    float: left;
    margin-right: 20px;
    background-image: url(../img/bg-label.png);
    width: 85px;
    height: 90px;
}
.w6icons {
    width: 95px;
    height: 80px;
    background-image: url(../img/icon.png);
    height: 70px;
    width: 100px;
    background-repeat: no-repeat;
}
.w6p {
    font-weight: 700;
    font-size: 16px;
    margin: 32px 0;
}
#money {
    background-position: -77px 12px;
}
#delivery {
    background-position: -77px -63px;
}
#clock {
    background-position: -164px 10px;
}


.coop {
    float: left;
    width: 100%;
}
.cblock1 {
    padding: 50px 0;
    position: relative;
    float: left;
    width: 100%;
}
.cblock2 {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1000px;
}
.cblock3 {
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    justify-content: space-between;
}
.cblock2__title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
}
.c3colleft {
    width: 50%;
}
.step {
    background-image: url(../img/bg_step.png);
    height: 110px;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.7);
    border-radius: 3px;
    padding: 40px 20px;
    margin-bottom: 50px;
    display: flex;
}
.sleft {
    position: relative;
    width: 40%;
}
.simg {
    background-image: url(../img/ic_step.png);
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}
.snumb1 {
    background-color: #ff2020;
    height: 65px;
    width: 65px;
    position: absolute;
    top: 20px;
    right: 10px;
    border-radius: 40px;
}
.snumb2 {
    text-align: center;
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 65px;
}
.sright {
    width: 60%;
    float: right;
    padding: 5px 0;
}
.sright__title {
    margin-bottom: 10px;
    text-transform: initial;
    font-size: 20px;
    font-weight: 700;
}
.sright__text {
    font-size: 14px;
}
#order {
    background-position: 10px 10px;
}
#receipt {
    background-position: 10px -105px;
}
#confirm {
    background-position: -115px 10px;
}
#pay {
    background-position: -115px -105px;
}
.cform1 {
    border-top: 10px solid #192c35;
    border-bottom: 10px solid #192c35;
    padding: 45px 0;
    position: relative;
    float: left;
    width: 100%;
}
.cform2 {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1000px;
}
.cform3 {
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
}
.c3slogan {
    background-color: #192c35;
    border-radius: 3px;
    padding: 25px;
}
.c3span {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    display: block;
}
.c3form {
    display: flex;
    justify-content: space-around;
}
.c3inp1 {
    width: 45%;
    margin-right: 20px;
    margin-bottom: 0;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 3px;
    padding: 15px;
    font-size: 16px;
    line-height: 60px;
    color: #2c353a;
}
.c3inp2 {
    width: 25%;
    margin-right: 20px;
    margin-bottom: 0;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 3px;
    padding: 15px;
    font-size: 16px;
    line-height: 60px;
    color: #2c353a;
}
.c3button {
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #ff2020;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 0 4px 10px rgba(44,53,58,0.32);
    line-height: 58px;
    cursor: pointer;
    vertical-align: bottom;
    width: 30%;
}
.dostoplata {
    float: left;
    width: 100%;
}
.dblock1 {
    padding: 50px 0;
    position: relative;
    float: left;
    width: 100%;
}
.dblock2 {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1000px;
}
.dblock3 {
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    justify-content: space-between;
}
.d2title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
}
.dblock4 {
    background-color: rgba(255,255,255,0.7);
    border-radius: 3px;
    padding: 25px;
    height: 290px;
    margin-bottom: 40px;
    width: 45%;
}
.d5slogan {
    height: 60px;
    background-color: #192c35;
    border-radius: 3px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
    padding-left: 20px;
    font-size: 20px;
}
.d5text {
    font-size: 14px;
    line-height: 16px;
}
.otzyvy {
    float: left;
    width: 100%;
}
.oblock1 {
    padding: 50px 0;
    position: relative;
    float: left;
    width: 100%;
}
.oblock2 {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1000px;
}
.o2title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
}
.oblock3 {
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    justify-content: space-between;
}
.oblock4 {
    background-color: rgba(255,255,255,0.79);
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(44,53,58,0.32);
    margin-bottom: 50px;
    width: 45%;
}
.o4img {
    float: left;
    width: 100px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
    height: 131px;
    overflow: hidden;
}
.o4name {
    float: left;
    width: 349px;
    background-color: #192c35;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
}
.o4subtitle {
    float: left;
    width: 349px;
    font-weight: 700;
    line-height: 16px;
}
.o4text {
    float: left;
    width: 349px;
}
.kontakt {
    float: left;
    width: 100%;
}
.kblock1 {
    background-color: #192c35;
    background-image: url(../img/bg_skin.jpg);
    text-align: justify;
    padding: 22px 0;
    border-top: 10px solid #192c35;
    position: relative;
    float: left;
    width: 100%;
}
.kblock2 {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1000px;
    display: flex;
    justify-content: space-between;
}
.kblock3 {
    width: 66%;
    padding-left: 13px;
    padding-right: 13px;
}
.k3slogan {
    margin-top: 25px;
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 5px;
    text-align: center;
}
.k3logo {
    height: 32px;
    background-repeat: no-repeat;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.k3img {
    margin: 0 10px;
}
.k3phone {
    height: 60px;
    margin: 20px 0;
    font-size: 16px;
    float: left;
    color: #fff;
    text-align: center;
    width: 100%;
}
.k3call {
    font-size: 16px;
    line-height: 22px;
    width: 100%;
}
.k3span {
    font-size: 10px;
    top: -5px;
    position: relative;
}
.k3numb {
    font-size: 31px;
}
.k2right {
    background-color: rgba(255,255,255,0.7);
    padding: 25px;
    border-radius: 3px;
    width: 33%;
}
.k2form {
    background-color: rgba(255,255,255,0.7);
    padding: 25px;
    border-radius: 3px;
}
.k2input {
    outline: none;
    width: 91%;
    border: none;
    height: 60px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    line-height: 60px;
    color: #2c353a;
}



